

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; 
}



.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em var(--cor-4));
}


.telão {
  width: 100%;
  background-color: var(--cor-5);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-senha {
  font-size: 2rem;
  color: var(--cor-4);
}

.controlador-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.lado-esquerdo,
.lado-direito {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.botao-senha,
.botao-chamar {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: var(--cor-2);
  background-color: var(--cor-1);
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.botao-senha:hover,
.botao-chamar:hover {
  background-color: var(--cor-3);
}


.read-the-docs {
  color: #888;
}